@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --text-color: #ffffff;
  --title-color: #757575;
  --niebo-color: #2196f3;
  --dark-color: #212121;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.pointer {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-weight: 400;
}
header {
  border-bottom: 1px solid #ececec;
  margin-top: 24px;
}
.logo {
  font-family: "Raleway";
  font-style: sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.84;
  text-decoration: none;
  margin-right: auto;
}
.logo-color {
  color: #2196f3;
}
.logo-color2 {
  color: #000000;
}
.links {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.875;
  color: var(--dark-color);
}

.links:hover,
.links:focus {
  color: var(--niebo-color);
}
.adress {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.875;
  color: var(--title-color);
}
.adress:hover,
.adress:focus {
  color: var(--niebo-color);
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  background: #2f303a;
  color: var(--text-color);
}
.button-order {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: #2196f3;
  width: 200px;
  height: 50px;
  border-radius: 4px;
}
.h3-lorem {
  font-weight: 700;
  font-size: 14px;
  line-height: 0.875;
}
.p-lorem {
  font-size: 14px;
  line-height: 24px;
  color: var(--title-color);
  width: 270px;
  height: 75px;
  letter-spacing: 0.03em;
}
.h2-todo {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.86;
}
.h2-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.86;
  margin-bottom: 50px;
}
.h3-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 0.85;
}
.p-team {
  font-size: 16px;
  line-height: 0.85;
  color: var(--title-color);
}
.p-adress {
  font-size: 14px;
  line-height: 0.5833333333;
  color: var(--text-color);
}
footer {
  background: #2f303a;
  width: 100vw;
  padding: 20px 0;
}
.button-select {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.65;
  background: #f5f4fa;
  border-radius: 4px;
}
.button-select:hover,
.button-select:focus {
  color: var(--text-color);
  background-color: var(--niebo-color);
}
.order-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.order-text {
  font-size: 16px;
  line-height: 1.875;
  color: var(--title-color);
}
ul,
ol {
  list-style: none; /* Usunięcie znaczników */
}
header li {
  display: inline;
  margin-right: 46px;
}
.first-section {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #2f303a;
}
.head-text {
  max-width: 696px;
  text-align: center;
  margin: 0 auto;
  flex-wrap: wrap;
}
.first-section h1 {
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.06em;
  width: 696px;
  height: 120px;
  margin-bottom: 30px;
}
.lorem-section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.lorem-four-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.lorem-li {
  margin-bottom: 0;
}
.center-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.image-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.image-item {
  flex: 1;
}
.section-team {
  margin-top: 94px;
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
  text-align: center;
}
.team-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0;
}
.team-item {
  flex-basis: calc(25% - 30px);
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-item img {
  width: 100%;
  height: auto;
}
.footer-adress {
  margin-top: 60px;
  margin-bottom: 20px;
}

.image-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -30px;
}

.image-list li {
  flex-basis: calc(33.33% - 30px);
  margin-bottom: 30px;
}

.image-list li img {
  max-width: 100%;
  height: auto;
}
.image-container {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-bottom: 20px;
}
.button-click {
  display: inline-block;
  margin-right: 8px;
  justify-content: center;
}
